src/main/resources/api/radius/INBase.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="AccountingSessionID">
		<xs:restriction base="xs:string">
			<xs:maxLength value="254"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Anschlusskennung">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{12}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Calid">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"></xs:maxLength>
			<xs:pattern value="[A-Z0-9.]*"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CoANAKReaction">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="0"></xs:enumeration>
			<xs:enumeration value="1"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContextNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="254"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrentLogonCount">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="9999"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DelegatedIPv6Prefix">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value=""></xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(::(([0-9a-fA-F]{1,4}:){0,6}([0-9a-fA-F]{1,4}))?)"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:)(:[0-9a-fA-F]{1,4}){1,6}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){2}(:[0-9a-fA-F]{1,4}){1,5}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){3}(:[0-9a-fA-F]{1,4}){1,4}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){4}(:[0-9a-fA-F]{1,4}){1,3}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){5}(:[0-9a-fA-F]{1,4}){1,2}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){6}(:[0-9a-fA-F]{1,4}){1,1}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){7}([0-9a-fA-F]{1,4})"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){1,7}:"></xs:pattern>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
	</xs:simpleType>

	<xs:simpleType name="DelegatedIPv6PrefixLength">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"></xs:minInclusive>
					<xs:maxInclusive value="128"></xs:maxInclusive>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
                    <xs:enumeration value=""></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="DNSProfile">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmptyString">
		<xs:restriction base="xs:string">
			<xs:length value="0"></xs:length>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EntsperrRegel">
		<xs:restriction base="xs:string">
			<xs:pattern value="(T|H)(3276[0-7]|327[0-5]\d|32[0-6]\d{2}|3[01]\d{3}|[12]\d{4}|[1-9]\d{3}|[1-9]\d{2}|[1-9]\d|\d)"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorCode">
		<xs:restriction base="xs:int"></xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorElement">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorMessage">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorValue">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FilterID">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FramedIPv6Prefix">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value=""></xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(::(([0-9a-fA-F]{1,4}:){0,6}([0-9a-fA-F]{1,4}))?)"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:)(:[0-9a-fA-F]{1,4}){1,6}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){2}(:[0-9a-fA-F]{1,4}){1,5}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){3}(:[0-9a-fA-F]{1,4}){1,4}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){4}(:[0-9a-fA-F]{1,4}){1,3}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){5}(:[0-9a-fA-F]{1,4}){1,2}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){6}(:[0-9a-fA-F]{1,4}){1,1}"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){7}([0-9a-fA-F]{1,4})"></xs:pattern>
                    <xs:pattern value="([0-9a-fA-F]{1,4}:){1,7}:"></xs:pattern>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
	</xs:simpleType>
	<xs:simpleType name="FramedIPv6PrefixLength">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"></xs:minInclusive>
					<xs:maxInclusive value="128"></xs:maxInclusive>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
                    <xs:enumeration value=""></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="InfluenceSession">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="0"></xs:enumeration>
			<xs:enumeration value="1"></xs:enumeration>
			<xs:enumeration value="2"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IPv4Address">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value=""></xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern
                            value="([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])"></xs:pattern>
                    <xs:pattern
                            value="(([1][0-9][0-9])|([2][0-4][0-9])|([2][5][0-5])|([1-9]?[0-9]))\.(([1][0-9][0-9])|([2][0-4][0-9])|([2][5][0-5])|([1-9]?[0-9]))\.(([1][0-9][0-9])|([2][0-4][0-9])|([2][5][0-5])|([1-9]?[0-9]))\.(([1][0-9][0-9])|([2][0-4][0-9])|([2][5][0-5])|([1-9]?[0-9]))"></xs:pattern>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
	</xs:simpleType>
	<xs:simpleType name="IPv4NetMask">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value=""></xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern
                            value="([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([1-9]?[0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])"></xs:pattern>
                    <xs:pattern
                            value="(([1][0-9][0-9])|([2][0-4][0-9])|([2][5][0-5])|([1-9]?[0-9]))\.(([1][0-9][0-9])|([2][0-4][0-9])|([2][5][0-5])|([1-9]?[0-9]))\.(([1][0-9][0-9])|([2][0-4][0-9])|([2][5][0-5])|([1-9]?[0-9]))\.(([1][0-9][0-9])|([2][0-4][0-9])|([2][5][0-5])|([1-9]?[0-9]))"></xs:pattern>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
	</xs:simpleType>
	<xs:simpleType name="IPVersion">
		<xs:restriction base="xs:string">
            <xs:enumeration value=""></xs:enumeration>
            <xs:enumeration value="1"></xs:enumeration>
            <xs:enumeration value="2"></xs:enumeration>
            <xs:enumeration value="3"></xs:enumeration>
            <xs:enumeration value="6"></xs:enumeration>
            <xs:enumeration value="7"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KeyID">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LogonSperrStatus">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="0"></xs:enumeration>
			<xs:enumeration value="1"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxDownspeed">
		<xs:union memberTypes="xs:unsignedInt EmptyString"></xs:union>
	</xs:simpleType>
	<xs:simpleType name="MaxSessionDuration">
		<xs:union memberTypes="xs:nonNegativeInteger EmptyString"></xs:union>
	</xs:simpleType>
	<xs:simpleType name="MaxUpspeed">
		<xs:union memberTypes="xs:unsignedInt EmptyString"></xs:union>
	</xs:simpleType>
	<xs:simpleType name="MehrfachZugang">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="0"></xs:enumeration>
			<xs:enumeration value="1"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MitbenutzerSuffix">
		<xs:restriction base="xs:byte"></xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MSISDN">
		<xs:restriction base="xs:string">
			<xs:pattern value="([1-9]\d{0,14})?"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetProfileID">
		<xs:restriction base="xs:short">
			<xs:minInclusive value="0"></xs:minInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OCSSubscriptionID">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"></xs:minLength>
			<xs:maxLength value="32"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Origin">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Password">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\w|!|&quot;|#|&amp;|%|$|'|\(|\)|\*|\+|,|-|\.|/|&lt;|&gt;|=|:|;|\?|\^|_){4,8}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PasswordEncrypted">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PolicyGroup">
		<xs:union memberTypes="xs:positiveInteger EmptyString"></xs:union>
	</xs:simpleType>
	<xs:simpleType name="ProfilSet">
		<xs:union memberTypes="xs:positiveInteger EmptyString"></xs:union>
	</xs:simpleType>
	<xs:simpleType name="ReceiveTime">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"></xs:maxLength>
			<xs:pattern value="\d*"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequestID">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReservePrefix">
		<xs:restriction base="xs:string">
            <xs:enumeration value=""></xs:enumeration>
            <xs:enumeration value="0"></xs:enumeration>
            <xs:enumeration value="1"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponseTime">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"></xs:maxLength>
			<xs:pattern value="\d*"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReturnCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReturnMessage">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SessionCount">
		<xs:restriction base="xs:unsignedByte"></xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SessionStateUpdate">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"></xs:enumeration>
			<xs:enumeration value="1"></xs:enumeration>
			<xs:enumeration value="2"></xs:enumeration>
			<xs:enumeration value="3"></xs:enumeration>
			<xs:enumeration value="4"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SperrZeitpunkt">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"></xs:maxLength>
			<xs:pattern value="\d*"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,12}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberSperrStatus">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="0"></xs:enumeration>
			<xs:enumeration value="1"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Systel">
		<xs:restriction base="xs:long">
			<xs:maxInclusive value="9999999999"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TerminationProfile">
		<xs:union memberTypes="xs:integer EmptyString"></xs:union>
	</xs:simpleType>
	<xs:simpleType name="TunnelProfile">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UMTServiceData">
		<xs:sequence>
			<xs:element name="ocs-subscription-id" type="OCSSubscriptionID"></xs:element>
			<xs:choice>
				<xs:element name="throttle-profile" type="ThrottleProfile"></xs:element>
				<xs:sequence>
					<xs:element name="throttle-down-l3" type="ThrottleDownL3"></xs:element>
					<xs:element name="throttle-up-l3" type="ThrottleUpL3"></xs:element>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UMTServiceDataUpdate">
		<xs:sequence minOccurs="0">
			<xs:element name="ocs-subscription-id" type="OCSSubscriptionID"></xs:element>
			<xs:choice>
				<xs:element name="throttle-profile" type="ThrottleProfile"></xs:element>
				<xs:sequence>
					<xs:element name="throttle-down-l3" type="ThrottleDownL3"></xs:element>
					<xs:element name="throttle-up-l3" type="ThrottleUpL3"></xs:element>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UserAuthenticationRequired">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="0"></xs:enumeration>
			<xs:enumeration value="1"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThrottleDownL3">
		<xs:restriction base="xs:positiveInteger"></xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThrottleUpL3">
		<xs:restriction base="xs:positiveInteger"></xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThrottleProfile">
		<xs:restriction base="xs:nonNegativeInteger"></xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThrottleProfileOrEmpty">
		<xs:union memberTypes="xs:nonNegativeInteger">
			<xs:simpleType>
				<xs:restriction base="xs:string">
                    <xs:enumeration value=""></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="UserAuthenticationRequiredOrEmpty">
		<xs:restriction base="xs:string">
            <xs:enumeration value=""></xs:enumeration>
            <xs:enumeration value="0"></xs:enumeration>
            <xs:enumeration value="1"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
